.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-container label {
  margin-right: 10px;
}

.filter-container input,
.filter-container select {
  margin-right: 10px;
}

.filter-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

.filter-container button:hover {
  background-color: #45a049;
}
