.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  margin-bottom: 15px;
}

.auth-form label {
  margin-bottom: 5px;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.auth-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}

.auth-form button:hover {
  background-color: #45a049;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}
