.chart-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.chart-container label {
  margin-right: 10px;
}

.chart-container input,
.chart-container select,
.chart-container button {
  margin-bottom: 10px;
  padding: 8px;
}

.chart-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.chart-container button:hover {
  background-color: #45a049;
}
