.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.auth-header button {
  background-color: #202020;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  justify-content: right;
}

.auth-header button:hover {
  background-color: #45a049;
}
